.box{
    color:rgb(1, 1, 17);
    border: 5px solid black;
    max-width: 300px;
    max-height: 300px;
    overflow: scroll;
    text-align: justify;
    
    
}

.box2{
    color:aliceblue;
    margin:10px;
    border: 2px solid red;
    min-width: 100px;
    max-width: 300px;
    min-height: 50px;
    max-height: 100px;
    background-color: blue;
}