h2{
    color: black;
    text-align: left;
    text-decoration: underline;
    text-shadow: 3px 3px 3px rgb(133, 247, 176);
    text-shadow: -3px -3px 3px red, 3px 3px 3px blue;
    text-shadow: 3px 3px 3px orange;
    font-family: monospace;
    font-size: xx-large;
    font-style: italic;

}

.box{
    color:orangered;
    font-size: xx-large;
    height: 200px;
    width:500px;
    border: 1px solid blueviolet;
    box-shadow: 5px 5px 5px rgb(101, 51, 181);
    box-shadow: -5px -5px 5px orange, 5px 5px 5px chartreuse;
    background-image: linear-gradient(to bottom right,grey,black);
    text-align: center;
}

