.box{
    width: 100px;
    height: 600px;
    background-color: yellow;
    border: 1px solid black;
    display: inline-block;
    margin: 30px;
    text-align: center;
}

#box1{
    position: static;
}

#box2{
    position: relative;
    left:50px;
    top:50px;
}

#box4{
    position: fixed;
    
}

#box5{
    position: absolute;
    left:120px;
    top:100px;
    background-color: brown;
}

#box3{
    position: sticky;
   top: 0
}