.box{
    border: 1px solid black;
    width:100px;
    height:30px;
    background-color: aqua;
    margin:50px;
    /* transform: translate(10px,10px);*/
    transform: translateX(10px);
    transform: translateY(50px);
    transform: rotate(30deg);
    transform: scale(1,4);
    text-align: center;
    transform: scaleX(2);
    transform: scaleY(1.5);
    transform: skew(45deg);
}